.list-Container{
    margin: 18px 0;
    background-color: white;
    list-style: none;
    border: 1px solid #777373;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    text-align: center;
    position: relative;
    
}
.list-Container:hover{
    box-shadow: 5px 10px #888888
}

.list-Container > *{
    display: inline-block;
}

.list-icon-check {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    background-image: url('./images/check-mark.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity:0.2;
}

.list-icon-delete{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    background-image: url('./images/remove.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity:0.2;
}

.list-icon-check:hover,
.list-icon-delete:hover{
    opacity:1;
}

.completed{
    opacity:1;
}
.dash{
    text-decoration: line-through;
}