.emptyTodoContainer{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyTodoContainer > h2{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto';
    margin: 0 auto;
}
.imgContainer{
    width: 150px;
  
}

.imgContainer > img {
    width: 100%;
    height: 100%;
}

